<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Remainder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>944551C41D242DFF001B31DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944551DA1D242E00001B31DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944551E51D242E00001B31DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A9244F1D343E6F00C45754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
